{% load static %} <!--Linking static folder-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css'%}"> <!--linking static folder's css-->
    <title>Document</title>
</head>
<body>
    <h1>This is in the first app</h1>
     <h1>This is the homepage</h1>
    <h1>{{a}}</h1>
    <h1>{{b}}</h1>
    <a href="/first_app/about">Go to About</a>
    
</body>
</html>